/********************* form bootstrap *********************/
body {
  background: linear-gradient(to left, #3a6186, #89253e);
}

.My_form {
  background: linear-gradient(to left, #3a6186, #89253e);
  color: #F3F7FF;
  text-transform: capitalize;
}


